.example-container {
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }
  .example-sidenav {
    width: 200px;
    background:grey;
  }
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    background: #3f51b5;
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
  }
   
  